@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    color: var(--clr-dark-green);
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
}

/* CSS variables */

:root {
    --text-body: "Poppins", sans-serif;
    --clr-beige: #D6CBB8;
    --clr-gold: #AC933C;
    --clr-dark-green: #0B1611;
    --clr-medium-green: #0A4E2F;
    --clr-off-white: #FBFBFB;
    --clr-deep-green: #1F4634;
}

/* header and navbar */
.header {
    background-color: var(--clr-dark-green);
    position: fixed;
    width: 100%;
    top: 0;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1.25rem;
}

.logo {
    color: var(--clr-beige);
    font-size: 1.5625rem;
    font-weight: 600;

}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    padding: 0 1.875rem;
    min-height: 3.75rem;
}

.nav__link {
    color: var(--clr-beige);
    font-weight: 400;
}

/* responsive navbar */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 1.6875rem;
    background-color: var(--clr-beige);
    margin: 3px 0;
    opacity: 0.8;
    transition: all .3s ease-in-out;
    border-radius: 0.9375rem;
}

.nav--open {
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

/* hero section */
.hero-section-container {
    background-image: url(https://raw.githubusercontent.com/camilabandeira/BrazBrew/master/assets/images/hero-section-img.webp);
    background-size: cover;
    background-position: center;
    color: var(--clr-beige);
    height: 100vh;
}

.hero-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: rgba(11, 22, 17, 0.8);
    height: 100vh;
}

.hero-section-wrapper h3 {
    font-weight: 200;
    font-size: 0.8125rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px;
}

.hero-section-wrapper h1 {
    font-size: 3.125rem;
    font-weight: 700;
    color: var(--clr-gold);
    width: 60%;
    text-align: center;
    line-height: 1;

}

.hero-section-wrapper a {
    width: 8.25rem;
    border: 1px solid var(--clr-beige);
    padding: 0.625rem;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    transition: background-color 0.1s ease;
}

.hero-section-wrapper a:hover {
    color: var(--clr-gold);
}

/* menu section */

.menu-section {
    background-color: var(--clr-off-white);
    padding: 15px;

}

.menu-title {
    font-size: 1.5625rem;
    font-weight: 700;
    color: var(--clr-medium-green);
    padding-left: 0.625rem;
    padding-top: 0.9375rem;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.menu-itens {
    flex-basis: calc(33.333% - 10px);
    text-align: center;
    padding: 10px;
}

.menu-list {
    border-bottom: 1px dotted #000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
}

.menu-itens h3 {
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 0.625rem;
    text-align: left;

}

.item-name {
    font-weight: 600;
}

.menu-itens ul>span {
    display: block;
    text-align: left;
    font-size: 13px;
    margin-bottom: 13px;
    font-weight: 300;

}


.coffee-bean-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-bottom: 1.25rem;
    padding-top: 1rem;


}

.coffee-bean-icon img {
    width: 19px;
    height: auto;
}

/* contact us section */

.contact_us-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-dark-green);
    color: var(--clr-beige);
    height: 31.25rem;
}

.contact-us-img {
    background-image: url(https://raw.githubusercontent.com/camilabandeira/BrazBrew/master/assets/images/contact-us-img.webp);
    background-size: cover;
    background-position: center;
    height: 31.25rem;
}

.contact-us-form {
    padding: 3.125rem;
    font-weight: 100;
}

.contact_us-section form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 8px;
    padding: 1.875rem;
}

textarea {
    height: 7.5rem;
}

::placeholder {
    padding: 0.3125rem;
}

input {
    border: 1 solid var(--clr-off-white);
}

.contact-us-btn {
    background-color: var(--clr-medium-green);
    color: var(--clr-off-white);
    cursor: pointer;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;

}

.contact-us-btn:hover {
    color: var(--clr-beige);
}

.contact-us-form h2 {
    font-size: 1.25rem;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1px;
    line-height: 0;
}

.contact-us-form,
.contact-us-img {
    flex: 1;
}


.contact_us-section h5 {
    padding: 1.5625rem 0.625rem;
    margin-bottom: 3.125rem;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-gold);
    font-weight: 700;
    display: none;
    width: 70%;
}

.contact_us-section h5 p {
    margin: 10px;
}

/* connect section */
.connect-section {
    display: flex;
    background-color: var(--clr-off-white);
    gap: 60px;
    padding: 20px;
    max-width: 100%;
}

.connect-section>* {
    flex: 1 1 100%;
}

.connect-section h6 {
    display: block;
    color: var(--clr-deep-green);
    font-weight: 600;
    margin: 10px 0;

}

.connect-section h4 {
    width: 80%;
    font-size: 25px;
    line-height: 39px;
    margin: 15px 0;
    color: var(--clr-dark-green);
    line-height: 1;
    font-weight: 300;
}

.connect-wrapper p {
    margin-top: -5px;
}

.connect-wrapper li {
    font-weight: 300;
}

.connect-section input {
    border: 1px solid var(--clr-dark-green);
    border-radius: 0;
    padding: 8px;
    margin: 10px 0;
    width: 100%;
}

.connect-section button {
    border: none;
    background-color: var(--clr-dark-green);
    color: var(--clr-beige);
    padding: 8px 20px;
    margin-top: 15px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
    font-size: 16px;
    transition: background-color 0.3s;
}

.connect-section button:hover {
    background-color: var(--clr-dark-green);
}

.connect-section label {
    display: block;
    color: var(--clr-deep-green);
    margin: 3px;

}

.connect-section ul li a {
    color: var(--clr-dark-green);
}

/* newslleter alert */
#customAlert {
    background-color: var(--clr-deep-green);
    color: var(--clr-beige);
    padding: 20px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 6px rgba(49, 82, 49, 0.1);
    width: 80%;
    max-width: 400px;
    font-size: 14px;
    text-align: center;
}

#customAlert span {
    display: block;
    font-size: 12px;
    line-height: 17px;
    color: var(--clr-gold);
}

/* footer section */
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-dark-green);
    color: var(--clr-beige);
    text-align: center;
    padding: 10px;

}

.footer-section .icons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 5px 0;
}

.footer-section>h5,
.footer-section>p {
    font-size: 14px;
    padding-top: 5px;


}

/* about us page */
.abt-us-bg {
    background-image: url(https://raw.githubusercontent.com/camilabandeira/BrazBrew/master/assets/images/hero-section-img.webp);
    background-size: cover;
    background-position: center;
}

.abt-us-container {
    padding: 5rem 0;
}

.abt-us-card {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-dark-green);
    color: var(--clr-beige);
    font-size: 14px;
    width: 70%;
    margin: 0 auto;
    padding: 1.5625rem;
}

.abt-us-card h1 {
    width: 100%;
    text-align: center;
    color: var(--clr-gold);
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-item {
    width: 100%;
}

.card-item h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.625rem;

}

.card-item:first-child {
    font-weight: 200;
    width: 62%;
    text-align: justify;

}

.card-item:last-child {

    width: 35%;
}

/* responsive tablet and mobile */

@media (max-width: 880px) {

    /* navbar responsive */
    .header {
        height: 3.75rem;
    }

    .header__content {
        padding: 0.625rem 1.875rem;
        justify-content: space-between;

    }

    .nav {
        position: fixed;
        top: 3.75rem;
        left: 0;
        background-color: var(--clr-dark-green);
        width: 100%;
        height: 100vh;
        padding: 0.625rem 0 1.5625rem;
        transform: translateX(-100%);
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 0.625rem;

    }

    .nav__link {
        font-size: 1.5rem;

    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* hero section  responsive */
    .hero-section-wrapper h1 {
        font-size: 2.1875rem;
        width: 60%;
    }

    /* menu section  */
    .menu-container {
        flex-direction: column;
    }

    .menu-itens {
        flex-basis: calc(50% - 20px);
    }

    /* contact us section  */

    .contact_us-section {
        flex-direction: column;
        height: 57.25rem;
    }

    .contact-us-img {
        width: 100%;
    }

    .contact-us-form {
        padding: 0;
        margin-top: 20px;
        width: 90%;

    }

    .contact-us-form form {
        padding: 0;
        gap: 9px;
    }

    .contact-us-form h2 {
        line-height: 1;
        font-size: 1.125rem;
        text-align: center;
        padding: 20px;
        margin: 0 auto;
    }

    .contact-us-btn {
        margin-bottom: 20px;
    }

    /* connect section  */
    .connect-section {
        display: flex;
        flex-direction: column;
        gap: 40px;
        background-color: var(--clr-off-white);
        max-width: 100%;

    }

    /* about us page */

    .abt-us-card {
        width: 85%;
    }

    .card-items-container {
        flex-direction: column;
    }

    .card-item {

        margin-bottom: 1rem;
        margin: 0 auto;
    }

    .card-item:first-child,
    .card-item:last-child {
        margin-bottom: 1.25rem;
        width: 95%;
    }


}

@media (max-width: 390px) {
    .hero-section-wrapper h1 {
        font-size: 1.6875rem;
        width: 85%;
    }

    .hero-section-wrapper h3 {
        font-size: 0.625rem;
        padding-bottom: 1px;
    }

}